<nav class= "top-bar" data-topbar role="navegation">
<ul class="title-area">
<li class="name">
<h1><a href="#">Post</a></h1>
</li>
</ul>
<section class="top-bar-section" >
    
<ul >
  <li class="has-dropdown not-click"><a href="#">Menú</a>
  <ul class="dropdown">
  <li class="parent-link show-for-small-only"><a class="parent-link js-generated" href="#">Enid</a>
  <li class="title back js-generated"><h5><%= link_to 'Back',posts_path %></h5></li>      
  <li><%= link_to 'Ver',controller:'/posts',action:'index'%></li>
      <% if user_signed_in? %>
        <li><%= link_to 'Nuevo',controller:'/posts',action:'new'%></li>
      
      <% end %>
  <li><%= link_to"Sign up ",new_user_registration_path, :class=> 'navbar-link'%> </li> 
  <li><%= link_to"Login", new_user_session_path, :class=> 'navbar-link'%></li>
  <li><%= link_to"Sign up admin",new_admin_registration_path, :class=> 'navbar-link'%></li> 
  <li><%= link_to"Login admin", new_admin_session_path, :class=> 'navbar-link'%></li>
  <li></li>
       </ul>
       </li>
       </ul>   

 
    
  <% if user_signed_in? %>
      <font color="grey"><b>Logged in as <strong><%=current_user.email%></strong></b></font>.
      <li class="has-dropdown not-click right"><a href="#">Cuenta</a>
      <ul class="dropdown">
      <li class="parent-link show-for-small-only"><a class="parent-link js-generated" href="#">Enid</a>
      <li class="title back js-generated"></li> 
      <li><%= link_to 'Edit profile',edit_user_registration_path,:class=>'navbar-link'%> 
      <li><%= link_to "Cerrar seción", destroy_user_session_path,method: :delete,:class=>'navbar-link'%>
          
  <% else %>
    
  <% if admin_signed_in? %>
      <font color="cian"><b>Logged in as<strong> <%=current_admin.email%></strong></b></font>.
      <li class="has-dropdown not-click right"><a href="#">Cuenta</a>
      <ul class="dropdown">
      <li class="parent-link show-for-small-only "><a class="parent-link js-generated" href="#">Enid</a>
      <li class="title back js-generated"></li> 
          <li><%= link_to 'Edit profile',edit_admin_registration_path,:class=>'navbar-link'%> </li>
          <li><%= link_to "Cerrar seción", destroy_admin_session_path,method: :delete,:class=>'navbar-link'%></li>
  <% else %>
     
          <% end %>
          
          <% end %>
      
</section>
</nav>