

<p>
    
    <section class="row">
     <div class= "small-4 columns">
  <strong>Id.User:</strong>
  <%= @post.user_id %>   
         </div>
</section>

     <section class="row">
     <div class= "small-2 columns">
  <strong>Title:</strong>
  <%= @post.title %>     
         </div>
</section>
</p>


<p>
     <section class="row">
     <div class= "small-2 columns">
  <strong>Body:</strong>
  <%= @post.body %>
         </div>
</section>
</p>
 <section class="row">
     <div class= "small-2 columns">
<div id="comments">
<%= render :partial => @post.comments.reverse %>
</div>
     </div>
</section>

<%= form_for([@post, Comment.new],remote: true) do|f| %>
 <section class="row">
     <div class= "small-4 columns">
 <p><%= f.label :body, "New Comment" %><br/>
     <%= f.text_area :body %>
 </p>
     </div>
</section>
<section class="row">
     <div class= "small-4 columns">
         <p><%= f.submit "Add Comment",:class => 'button small' %></p></div>
</section>
 
<% end %>
<section class="row">
     <div class= "small-4 columns">
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
    </div>
</section>
